body {
  @include indents-none;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  color: $main-text;
  background-color: $main-background;
}

a {
  text-decoration: none;
}

