.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacts__item {
  box-sizing: border-box;
  margin-right: 80px;

  &--mobile {
    width: 197px;
    padding-top: 10px;
    padding-left: 29px;
  }

  &--phone {
    width: 154px;
    padding-top: 9px;
    padding-left: 32px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.contacts__link {
  @include font-weight($medium);
  position: relative;
  line-height: 22px;

  &:hover,
  &:focus {
    color: $button;
  }
}

.contacts__text {
  @include indents-none;
  font-size: 12px;
  line-height: 17px;
  color: $pale-text;
};
