.converter__wrapper {
  padding-top: 46.5px;
  padding-bottom: 110px;
}

.converter__title {
  @include indents-none;
  @include font-weight($bold);
  margin-bottom: 50px;
  font-size: 41px;
  line-height: 57px;
}

.converter__form {
  margin-bottom: 100px;
}
