.copyright__logo {
  margin-bottom: 12px;
  margin-left: -1px;
}

.copyright__text {
  @include indents-none;
  font-size: 12px;
  line-height: 17px;
  color: $pale-text;
}

.copyright__text span {
  font-size: 14px;
}
