.footer {
  padding-top: 49px;
  padding-bottom: 50px;
  background-color: $background;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer__item {
  @include list-reset;
  @include indents-none;
  margin-right: 80px;

  &:last-child {
    margin-right: 0;
  }
}
